@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.Login{
  position: relative;
}
.container{
  width: 100%;
  height: 95vh;
  /* align-items: center;
  justify-content: center; */
  /* flex-direction: column; */
  display: flex;
}

.App{
  height: 100%;
  background-color: wheat;
  align-items: center;
  justify-content: center;
  position: flex;
}
.content{
  overflow: hidden;
}
.button{
  height: 3vh;
  font-weight: bold;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
  border-radius: 20px;
}
.middle{
  width: 8vw;
}
.center{
  display: grid;
  align-items: center;
}
.inputcontent{ 
  padding: 10px;
  font-weight: bold;
  align-items: center;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 2.5px solid #333;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  font-size: 10px;
  font-weight: bold;
  padding-left: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
  border-radius: 20px;
}
.space{
  width: 25vw;
}
.card {
  width: 100%;
  height:90%;
  position: flex;
  background-color: antiquewhite;
  margin: 15px;
  padding: 20px;
  border-radius: 25px;
  overflow: hidden;
}
.list-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #333;
}
.list-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
}
.list-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.side-navbar{
  padding: 20px;
  display: flex;
  float: left;
  background-color: antiquewhite;
  max-width: 225px;
  height: calc(100vh - 105px);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.sidebar{
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
  /* width: 17.5vw; */
  display: flex;
}
.sidebar a {
  text-decoration: none;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}
.sidebar a:hover {
  color: #f1356d;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  border-radius: 20px;
}
.menu{
  display: flex;
  justify-content: center;
  border-bottom: 1.5px solid #333;
}
/* @media only screen and (max-width: 1530px) {
  .content{
  overflow: scroll;
  }
} */
.SignUp{
  height:1000px;
  width:100%;
}
.page{
  padding: 20px;
  display: flex;
  float: left;
  background-color: antiquewhite;
  max-width: 175px;
  height: calc(100vh - 112.9px);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* CreateOfferPage*/
.CreateOfferPage{
 width: 100%;
  height: 100%;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
 
.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}