@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
p{
  font-size: 1vw;
}
label{
  border-style:groove;
  margin: 0.2vh;
  padding-right: 0.35vw;
  /* border-bottom: 1.5px solid #333; */
  font-size: 0.85vw;
}
a{
  font-size: 1vw;
  font-weight: bold;
}
.Login{
  position: relative;
}
.container{
  width: 100%;
  height: 95vh;
  overflow: hidden;
  display: inline-flex;
}
.message{
  border-style: dashed;
  width: fit-content;
}
.App{
  height: 100%;
  background-color: #ECE9E9;
  background-size: cover;
  align-items: center;
  justify-content: center;
  position: flex;
}
.content{
  overflow: hidden;
}
.button{
  font-size: 0.95vw;
  width: 8vw;
  height: 3vh;
  font-weight: bold;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
  border-radius: 20px;
}
.middle{
  width: 8vw;
  height: 3vh;
  font-size: 0.95vw;
  font-weight: bold;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
  border-radius: 20px;
}
.center{
  display: grid;
  align-items: center;
}
.inputcontent{ 
  padding: 10px;
  font-weight: bold;
  align-items: center;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: #232323;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 2.5px solid #333;
}
.navbar h1 {
  font-size: 2.5vw;
  color: #D2D4DA;
}
.navbar .links {
  font-size: 1.65vw;
  font-weight: bold;
  padding-left: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  font-size: 1vw;
  padding: 6px;
}
.navbar a:hover {
  color: #D2D4DA;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
  border-radius: 20px;
}
.space{
  width: 25vw;
}
h2{
  font-size: 2.1vw;
}
.card {
  width: 100%;
  height:90%;
  position: flex;
  background-color: #D3DCDE;
  margin: 15px;
  padding: 20px;
  border-radius: 25px;
  overflow: hidden;
}
.list-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #333;
}
.list-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
}
.list-preview h2 {
  font-size: 20px;
  color: #D2D4DA;
  margin-bottom: 8px;
}
.side-navbar{
  padding: 20px;
  display: flex;
  float: left;
  overflow: hidden;
  width: 15vw;
  background-color: #B3B5BD;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.sidebar{
  flex-direction: column;
  padding: 20px;
  display: flex;
}
.sidebar a {
  text-decoration: none;
  margin-top: 20px;
  font-size: 1vw;
  font-weight: bold;
  padding: 5px;
}
.sidebar a:hover {
  color: white;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  border-radius: 20px;
}
.menu{
  display: flex;
  justify-content: center;
  border-bottom: 1.5px solid #333;
}
.SignUp{
  height:1000px;
  width:100%;
}
.page{
  padding: 20px;
  display: flex;
  float: left;
  background-color: antiquewhite;
  max-width: 175px;
  height: calc(100vh - 112.9px);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* CreateOfferPage*/
.CreateOfferPage{
  width: 100%;
  height: 100%;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
 
.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.styled-table {
  border-collapse: collapse;
  margin: 2.5vw 0;
  font-size: 0.9vw;
  font-family: sans-serif;
  min-width: 15vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #9496A1;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 1.15vw 1.2vw;
}
.styled-table tbody tr {
  border-bottom: 0.075vw solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 0.175vw solid #9496A1;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #9496A1;
}
@media only screen and (max-width: 800px) {
  p{
    font-size: 2.5vw;
  }
  a{
    font-size: 2.5vw;
    font-weight: bold;
  }
  .button{
    font-size: 2vw;
    width: 11.5vw;
    height: 3.5vh;
    font-weight: bold;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
    border-radius: 20px;
  }
  .middle{
    width: 11.5vw;
    height: 3.5vh;
    font-size: 2vw;
    font-weight: bold;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.3);
    border-radius: 20px;
  }
  h2{
    font-size: 4vw;
  }
  .side-navbar{
    padding: 20px;
    display: flex;
    float: left;
    overflow: hidden;
    width: 32.5vw;
    background-color: #B3B5BD;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .sidebar a {
    text-decoration: none;
    margin-top: 20px;
    font-size: 2.5vw;
    font-weight: bold;
    padding: 5px;
  }
  .navbar h1 {
    font-size: 5vw;
    color: #D2D4DA;
  }
  .styled-table th,
  .styled-table td {
    padding: 0.95vw 0.3vw;
  }
  label{
    border-style:groove;
    margin: 0.2vh;
    font-size: 1.75vw;
  }
  .card {
    width: 100%;
    height:90%;
    position: flex;
    background-color: #D3DCDE;
    margin: 15px;
    padding: 20px;
    border-radius: 25px;
    overflow: scroll;
  }
}